{% extends 'base.html' %}
{% load static %}

{% block title %}Relatar um Novo Problema - Locus{% endblock %}

{% block extra_css %}
    <style>
        select option {
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
<div class="bg-[#2F7E32] text-white min-h-screen px-4 sm:px-6 lg:px-8 py-12">
    <div class="max-w-3xl mx-auto">

        <div class="mb-6">
            <a href="{% url 'app:lista_problemas' %}" class="text-sm text-white/80 hover:text-white hover:underline">&larr; Voltar para a lista de problemas</a>
        </div>
        
        <h1 class="text-5xl font-bold">Relatar um Novo Problema</h1>
        <p class="text-lg opacity-80 mt-2 mb-10">Viu algo que precisa de uma solução? Descreva-o Abaixo</p>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="space-y-6">
                {{ form.titulo }}
                {{ form.descricao }}
                {{ form.area }}
                {{ form.localizacao }}
            </div>

            <div class="mt-8 text-center">
                <button type="submit" class="border-2 border-white font-bold py-3 px-12 rounded-full text-lg hover:bg-white hover:text-[#2F7E32] transition">
                    Publicar Problema
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}